{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>播放器</title>
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #191919
        }

        .m {
            width: 960px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }
    </style>
</head>

<body>
<div class="m">
    <script src="{% static '/js/video_js/video.min.js' %}"></script>
    <script src="{% static '/js/video_js/videojs-contrib-hls.js' %}"></script>
    <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="960"
           height="400"
           data-setup="{}">
        {#        <track kind="subtitles" src="/static/media/movie/3.vtt" srclang="zh-CN" label="简体中文"/>#}
        <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>

    <script src="http://vjs.zencdn.net/5.19/lang/zh-CN.js"></script>
    <script type="text/javascript">
        var url = "http://localhost:1234/ts/out.m3u8";
        videojs("my-video").ready(function () {
            var myPlayer = this;
            myPlayer.src({
                src: url,
                type: "application/x-mpegURL"
            });
            myPlayer.play();
            myPlayer.pause();
            myPlayer.play();
        });

    </script>
</div>
</body>
</html>
