<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

</head>
<body>
{#<script type="text/javascript">#}
{#    function toLogin() {#}
{#        //以下为按钮点击事件的逻辑。注意这里要重新打开窗口#}
{#        //否则后面跳转到QQ登录，授权页面时会直接缩小当前浏览器的窗口，而不是打开新窗口#}
{#        var A = window.open("oauth/index.php", "TencentLogin",#}
{#            "width=450,height=320,menubar=0,scrollbars=1,resizable = 1, status = 1, titlebar = 0, toolbar = 0, location = 1")#}
{#    }#}
{#</script>#}
{##}
{#<div>#}
{#    <div>#}
{#        <span>其他登录方式：</span>#}
{#        <a href="{% url "uwxLoginTest:begin" "qq" %}">QQ登录 <!-- 这个登录标识注意要满足QQ互联的要求 --></a>#}
{#        <img src="/static/images/Connect_logo_5.png" onclick="toLogin"/>#}
{#    </div>#}
{#</div>#}

{##}
{#登录#}
{#<li><a rel="nofollow" href="{% url socialauth_begin 'weibo' %}">weibo</a></li>#}
<li><a rel="nofollow" href="{% url 'social:begin' 'qq' %}">qq</a></li>
{#<li class="google"><a href="{% url 'social:begin' backend='qq-oauth2' %}">Login with Google</a></li>#}
{#<li><a rel="nofollow" href="{% url socialauth_begin 'douban-oauth2' %}">douban</a></li>#}
{#注销#}
{#<a href="/logout"> 注销 </a>#}
</body>
</html>