<!DOCTYPE HTML>
<html>
<head>
    <title>相册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/static/projects/gallery/secondLevel/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--  jquery plguin -->
    {#    <script type="text/javascript" src="/static/projects/gallery/secondLevel/js/jquery.min.js"></script>#}
    <script src="/static/projects/gallery/firstLevel/js/jquery-1.11.3.min.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <link href="/static/projects/gallery/secondLevel/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <script src="/static/projects/gallery/secondLevel/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script src="/static/projects/gallery/secondLevel/js/yy_gallery_secondlevel.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/projects/gallery/secondLevel/css/viewer/viewer.min.css">
    <script type="text/javascript" src="/static/projects/gallery/secondLevel/js/viewer/viewer.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });

        convert_2pic({{ json|safe }}, '{{ pre_path }}');

    </script>
    {% csrf_token %}

</head>
<body>

<li hidden id="pic_thum_item2">
    <a class="popup-with-zoom-anim">
        <img id="pic" src="" alt="Image 2"/>
    </a>
</li>
<div hidden id="pic_thum_item">
    <ul class="folio_list">
        <div class="clear"></div>
    </ul>
</div>

<!-- start slider -->
<div class="slider_bg">
    <div class="wrap">
        <div class="slider">
            <h2>portfolio</h2>
            <h3>What we Think, latest news</h3>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div>
                <div class="content" id="first_content">

                </div>
            </div>
        </div>

    </div>
</div>

<style>
    #load_tips {
        width: 20px;
        height: auto;
        border: 1px solid #D4CD49;
        position: fixed;
        left: 0;
        bottom: 0;
        color: #e3e3e3;
    }
</style>
<a id="load_tips">正在加载下一页</a>

<script>
    var useCss3Trans = true;
    try {
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            useCss3Trans = false;
        } else {
            useCss3Trans = true;
        }
    } catch (e) {
    }
    $(function () {
        var $main = $('#first_content');
        $main.viewer({
            url: 'data-original',
            navbar: true,
            loop: false,
            fullscreen: false,
            transition: useCss3Trans,
            onViewEnd: load_more,
        });
    });
</script>
</body>
</html>