{#需求:#}
{#1.查看和删除当前照片列表#}
{#2.查看和删除当前缓存照片列表#}
{#3.转换按钮.#}

<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/static/projects/gallery/mid/jquery-1.11.3.min.js"></script>
    {#    <script type="text/javascript" src="/static/projects/gallery/mid/jquery-1.11.3.min.js"></script>#}
    <title>控制台</title>
    <script>
        var curShowContent = "";

        function show_content(contentStr) {
            var item = $('#menus');
            item.prop('hidden', true);
            var page = $('#' + contentStr);
            curShowContent = contentStr;
            page.prop('hidden', false);
        }

        function hide_content() {
            if (null != curShowContent && "" != curShowContent) {
                var item = $('#menus');
                item.prop('hidden', false);
                var page = $('#' + curShowContent);
                page.prop('hidden', true);
                curShowContent = "";
            }
        }
    </script>
</head>
<body>
    {% csrf_token %}

<div hidden id="page1">
    <p id="back_div"></p>
    {% include  'upload/gallery/child_item/upload.html' %}
</div>

<div hidden id="page2">
    <p id="back_div"></p>
    {% include  'upload/gallery/child_item/watch.html' %}
</div>
<div id="menus">
    <a href="#" onclick="show_content('page1')">上传照片</a>
    <a href="#" onclick="show_content('page2')">查看当前列表</a>
    <a>缓存冲入</a>
</div>
<script>
    function add_back_btn() {
        var item = $('p#back_div');
        item.html('<a href=\"#\" onclick=\"hide_content()\">返回</a>');
    }

    add_back_btn();

    window.history.pushState(null, null, "#");
    window.addEventListener("popstate", function (e) {
        window.history.pushState(null, null, "#");
        hide_content();
    }, false);
</script>

</body>
</html>